@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Teko&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Teko', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    height: 420px;
    width: 73%;
    display: flex;
    padding: 15px;
}

.cir{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.fa-solid{
    font-size: 22px;
    position: absolute;
    left: 15px;
    color: rgba(255, 255, 255, 0.507);
}

.czero{
    background-color: #B66D1E;
}
.cone{
    background-color: #00545A;
}
.ctwo{
    background-color: #003534;
}

.box{
    padding: 45px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.one{
    background-color: #E38826;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.two{
    background-color: #006970;
}
.three{
    background-color: #004241;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.segment{
    font-size: 46px;
    color: #F2F2F2;
    font-family: 'Teko', sans-serif;
}
.content{
    color: #F2F2F2;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}
.btn{
    background-color: #F2F2F2;
    width: max-content;
    padding: 15px 20px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.bzero{
    color: #E38826;
}

.bone{
    color: #006970;
}

.btwo{
    color: #004241;
}

footer{
    font-size: 22px;
}
